Crop_Prediction flow.json
[{"id":"faf6943c.7d94d8","type":"tab","label":"Flow 4 new","disabled":false,"info":""},{"id":"e1d7e773.e8fdc8","type":"ui_form","z":"faf6943c.7d94d8","name":"","label":"","group":"830ee0dc.c72f6","order":2,"width":0,"height":0,"options":[{"label":"District_name","value":"District_name","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Rainfall","value":"Rainfall","type":"number","required":true,"rows":null},{"label":"Area","value":"Area","type":"number","required":true,"rows":null},{"label":"Production","value":"Production","type":"number","required":true,"rows":null}],"formValue":{"District_name":"","Year":"","Temperature":"","Rainfall":"","Area":"","Production":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":220,"wires":[["423254b2.e4224c","1f7affdf.a7af3"]]},{"id":"423254b2.e4224c","type":"function","z":"faf6943c.7d94d8","name":"gloabal variables for form node","func":"global.set(\"District_name\",msg.payload.District_name)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Rainfall\",msg.payload.Rainfall)\nglobal.set(\"Area\",msg.payload.Area)\nglobal.set(\"Production\",msg.payload.Production)\nvar apikey=\"GEfpaUbIhDx-IXuEknzD_OIktJAWKKVUEA_K0w5c_V17\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["cf5420d9.9431d"]]},{"id":"cf5420d9.9431d","type":"http request","z":"faf6943c.7d94d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":240,"wires":[["d3d764bd.8ed538","3de7de03.68ac12"]]},{"id":"d3d764bd.8ed538","type":"function","z":"faf6943c.7d94d8","name":"pre_prediction","func":"var District_name = global.get(\"District_name\") \nvar Year = global.get(\"Year\")\nvar Temperature = global.get(\"Temperature\") \nvar Rainfall = global.get(\"Rainfall\") \nvar Area = global.get(\"Area\") \nvar Production = global.get(\"Production\") \nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"District_name\", \"Year\",\"Temperature\",\"Rainfall\", \"Area\" , \"Production\"]],\"values\": [[District_name,Year,Temperature,Rainfall,Area,Production]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":260,"wires":[["23ce767f.76aa5a"]]},{"id":"23ce767f.76aa5a","type":"http request","z":"faf6943c.7d94d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/2e397f61-c304-40a1-9f95-d0eeb1922d75/predictions?version=2021-07-27","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":340,"wires":[["4f7cb0dc.7383d","8216a9e1.99e618"]]},{"id":"1f7affdf.a7af3","type":"debug","z":"faf6943c.7d94d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":180,"wires":[]},{"id":"3de7de03.68ac12","type":"debug","z":"faf6943c.7d94d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":200,"wires":[]},{"id":"4f7cb0dc.7383d","type":"debug","z":"faf6943c.7d94d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":280,"wires":[]},{"id":"8216a9e1.99e618","type":"function","z":"faf6943c.7d94d8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":420,"wires":[["78be7f6c.2f43","a426aabd.77dc48"]]},{"id":"78be7f6c.2f43","type":"debug","z":"faf6943c.7d94d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":380,"wires":[]},{"id":"a426aabd.77dc48","type":"ui_text","z":"faf6943c.7d94d8","group":"830ee0dc.c72f6","order":7,"width":0,"height":0,"name":"","label":"Crop :","format":"{{msg.payload}}","layout":"row-spread","x":1410,"y":480,"wires":[]},{"id":"830ee0dc.c72f6","type":"ui_group","name":"Enter the values","tab":"87b36625.4eeee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"87b36625.4eeee8","type":"ui_tab","name":"Crop_Prediction","icon":"dashboard","disabled":false,"hidden":false}]