Crop_Yield flow.json
[{"id":"ec89aebb.acb1d","type":"tab","label":"Flow 3 new","disabled":false,"info":""},{"id":"a2c09df6.ca7c2","type":"ui_form","z":"ec89aebb.acb1d","name":"","label":"","group":"830ee0dc.c72f6","order":1,"width":0,"height":0,"options":[{"label":"District_name","value":"District_name","type":"text","required":true,"rows":null},{"label":"Crop_name","value":"Crop_name","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Rainfall","value":"Rainfall","type":"number","required":true,"rows":null},{"label":"Area","value":"Area","type":"number","required":true,"rows":null}],"formValue":{"District_name":"","Crop_name":"","Year":"","Temperature":"","Rainfall":"","Area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":220,"wires":[["5a1c9429.50e43c","34ff69e7.1c65f6"]]},{"id":"5a1c9429.50e43c","type":"function","z":"ec89aebb.acb1d","name":"gloabal variables for form node","func":"global.set(\"District_name\",msg.payload.District_name)\nglobal.set(\"Crop_name\",msg.payload.Crop_name)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Rainfall\",msg.payload.Rainfall)\nglobal.set(\"Area\",msg.payload.Area)\nvar apikey=\"GEfpaUbIhDx-IXuEknzD_OIktJAWKKVUEA_K0w5c_V17\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["a38a10b7.09401"]]},{"id":"a38a10b7.09401","type":"http request","z":"ec89aebb.acb1d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":240,"wires":[["c3c78074.df289","dc8c9bd8.eb1878"]]},{"id":"c3c78074.df289","type":"function","z":"ec89aebb.acb1d","name":"pre_prediction","func":"var District_name = global.get(\"District_name\") \nvar Crop_name = global.get(\"Crop_name\") \nvar Year = global.get(\"Year\")\nvar Temperature = global.get(\"Temperature\") \nvar Rainfall = global.get(\"Rainfall\") \nvar Area = global.get(\"Area\") \nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"District_name\", \"Crop_name\", \"Year\",\"Temperature\",\"Rainfall\", \"Area\"]],\"values\": [[District_name,Crop_name,Year,Temperature,Rainfall,Area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":280,"wires":[["41038c9.b71ff74"]]},{"id":"41038c9.b71ff74","type":"http request","z":"ec89aebb.acb1d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/347021e1-c34c-4d87-8faf-708450d1c9e3/predictions?version=2021-07-27","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":340,"wires":[["5d10b96b.696df8","a711424d.732f"]]},{"id":"34ff69e7.1c65f6","type":"debug","z":"ec89aebb.acb1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":180,"wires":[]},{"id":"dc8c9bd8.eb1878","type":"debug","z":"ec89aebb.acb1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":200,"wires":[]},{"id":"5d10b96b.696df8","type":"debug","z":"ec89aebb.acb1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":280,"wires":[]},{"id":"a711424d.732f","type":"function","z":"ec89aebb.acb1d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":420,"wires":[["bcbfb28d.bfa95","fb6d51c1.8beca"]]},{"id":"bcbfb28d.bfa95","type":"debug","z":"ec89aebb.acb1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":380,"wires":[]},{"id":"fb6d51c1.8beca","type":"ui_text","z":"ec89aebb.acb1d","group":"830ee0dc.c72f6","order":3,"width":0,"height":0,"name":"","label":"Crop Yield:","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":480,"wires":[]},{"id":"830ee0dc.c72f6","type":"ui_group","name":"Enter the values","tab":"87b36625.4eeee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"87b36625.4eeee8","type":"ui_tab","name":"Crop_Prediction","icon":"dashboard","disabled":false,"hidden":false}]